*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px;
}

ol,
ul {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

h1 {
  margin: 2rem;
}
